
body {
    background-color: rgb(62, 62, 62);
}
h1,h2,h3,h4,h5,h6,p,#ex-out {
    color: antiquewhite;
}
label{
    color:antiquewhite;
}
.aw{
    margin-left: 20px;
}
strong{
    color: rgb(244, 70, 70);
}
.namulink, .imgLink{
    background-image: linear-gradient(90deg, red, orange, yellow, green, blue, navy, purple);
    -webkit-background-clip: text;
    color: transparent;
}
.container {
    text-align: center;
}
#Clevel{
    margin-left:30px;
    scale: 200%;
}
#WeaponLevelImage{
    margin-right:10px;
    scale:110%;
}
#WLevel{
    margin-left:28px;
    margin-right:51px;
    scale:200%;
}
#JLevel{
    scale:140%;
}
#dolpa{
    margin-left: 45px;
    scale:200%
}
#LevelImage, #WeaponLevelImage{
    width:117px;
    height:24px;
    object-fit:fill;
}
#jaeryonImage{
    width:81px;
    height:27px;
    object-fit: fill;
}
#dolpaImage{
    width:360px;
    height:477px;
    object-fit: fill;
    
}