
body {
    background-color: rgb(62, 62, 62);
}
h1,h2,h3,h4,h5,h6,#ex-out {
    color: antiquewhite;
}
.container {
    text-align: center;
}
#Clevel{
    margin-left:23px
}
#WeaponLevelImage{
    margin-right:10px
}
#WLevel{
    margin-left:23px;
    margin-right:58px
}